:root{
    --f-primary: 600;
    --f-secondary: 700;
    --f-bold: 800;
    --f-slim: 400;
    --bg-color: #1c1d25;
    --text-color: azure;
    --text-color2: #FF971A;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    font-family: 'Bubblegum Sans', cursive;
    font-family: 'Inter', sans-serif;
}

footer {
    background-color: #120B1D;
    color: #9F9B80;
}

.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../assets/photo.PNG);
    width: 1600px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: transform .75s;
    position: relative; /* impoertant for hover animation! */
}

/* hero image enlarged a bit when cursor hovered on */
.hero-image:hover {
    transform: scale(1.02);
}

.hero-text {
    background: #120B1D;
    position: relative;
    height: 500px;
}

.hero-text h1 {
    font-size: 4em;
    font-weight: var(--f-bold);
    letter-spacing: .1rem;
}

.hero-text h2 {
    font-size: 2em;
    font-weight: var(--f-primary);
}

.hero-text span {
    color: var(--text-color2);
}

/* resume button animation */
.myResumeBtn {
    color: var(--bg-color);
    background-color: #FF971A;
    border-radius: 20px;
    padding: 1rem 1.50rem;
    position: relative;
    font-size: 20px;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    transition:  color 1.5s;
    width: 75%;
}

.myResumeBtn:hover {
    background-color: var(--bg-color);
    color: var(--text-color2);
}

.myResumeBtn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    /* background-color: var(--text-color2); */
    transform: skewX(35deg);
    z-index: -1;
    transition: width 1;
}

.myResumeBtn:hover::before {
    width: 150%;
}

.social-medias {
    bottom: 30px;
}

.social-medias::before {
    content: '';
    display: block;
    top: 0px;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--text-color);
}

.social-medias::after {
    content: '';
    display: block;
    top: 0px;
    width: 1px;
    height: 40px;
    margin: 0px auto;
    background-color: var(--text-color);
}

/* syle about me section */
/* animate the border when user(s) hover on 'about me' section */
.about-container {
    max-width: 1000px;
    margin: 80px;
    /* padding: 20px 50px; */
    border: 1px solid var(--text-color);
    position: relative;
}

.about-container::before,
.about-container::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    border: inherit;
    transition: all .5s;
}

.about-container::before {
    top: -20px;
    left: -20px;
    border-width: 3px 0 0 3px;
}

.about-container::after {
    bottom: -20px;
    right: -20px;
    border-width: 0 3px 3px 0;
}

.about-container:hover::before,
.about-container:hover::after {
    width: 50%;
    height: 50%;
}

/* Styling 'Get to know me!' header text  */
.heading-about {
    display: flex;
    -webkit-box-align: center;
    justify-content: flex-end;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: 25px;
    font-weight: var(--f-secondary);
    letter-spacing: .1rem;
}

.heading-about::before {
    content: '';
    display: block;
    position: relative;
    top: 20px;
    width: 240px;
    height: 1px;
    margin-right: 10px;
    background-color: var(--text-color);
}

/* profile photo styling */

.overlay .wrapper {
    height: auto;
    position: relative;
    background-color: #6c6155;
}

.overlay .wrapper img {
    mix-blend-mode: multiply;
    filter: grayscale(50%) contrast(1);
    height: fit-content;
}

/* skills icons */
.skills {
    font-size: 50px;
}

.work-header {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: 25px;
    font-weight: var(--f-secondary);
}

.work-header::after {
    content: "";
    display: block;
    position: relative;
    top: 0px;
    width: 500px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--text-color);
}

/* media query */
@media only screen and (max-width:1000px) {
    .hero-image {
        height: 400px;
    }

    .hero-text {
        background-color: transparent;
    }

    .hero-text h1 {
        font-size: 3em;
        font-weight: var(--f-bold);
        letter-spacing: .1rem;
    }
    
    .hero-text h2 {
        font-size: 1em;
        font-weight: var(--f-primary);
    }

    .wrapper img {
        height: 50vh;
    }
}